[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "h9kP9T0izHw24Ivyq0rlW0g0l"},
	    {api_secret, "YH8CF4PyaVMeCKMjTVVbJ5NNCrOv9jhlNDLOT041OTXSMfcEPC"},
	    {access_token, "392001475-jDR2WrCGFYIvQozWEs9muG8yYQPAvuoA94sG4z2M"},
	    {access_token_secret, "K8scOqzclC0QLZl0aNvYDQyFt7QJ8mNP6tdEFeY5yQrtD"}]}]},
  {riak_nodes, [
    {riak1, [
	    {host, "127.0.0.1"},
	    {port, 8087}]}]}]}].
